@import './base.css';

body {
    font-family: var(--mainFont);
    background-color: #eee;
}

.menu {
    color: var(--mainColor);
    display: none;
}

.header {
    background-color: #fff;
    padding: 20px 0;
}

.header .logo {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.header .logo img {
    width: 35px;
}

.header .logo a {
    color: var(--mainColor);
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.nav ul li a {
    color: #101928;
}

.active {
    font-weight: 700;
}

.auth {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.auth a {
    font-family: var(--subFont);
    border: 2px solid var(--mainColor);
    border-radius: 6.12px;
    padding: 5.3541765213012695px 30.18113136291504px;
}

.auth .login {
    color: var(--mainColor);
    font-family: var(--subFont);
    font-weight: 700;

}

.auth .register {
    background-color: var(--mainColor);
    color: #fff;
}

@media screen and (max-width:992px) {

    .nav,
    .auth {
        display: none;
    }

    .menu {
        display: block;

    }
}

@media screen and (max-width:567px) {
    .container {
        width: calc(100% - 30.8px);
    }

    .header .logo img {
        width: 20px;
    }

    .header .logo a {
        font-size: 14px;
    }

}

.beginning{
    background-color: #fff;
    display: flex;
    padding: 10px;
}

.content
.beginning-img{
    width: calc((100% - 20px)/ 2);

}
.beginning .row {
    gap: 40px;

}

.beginning-img img{
    width: 500px;
    padding: 5px;

}
.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.content h2 {
    font-family: var(--subFont);
    color:var(--mainColor);
    font-size: 18px;
    margin-bottom: 10px;
}
 .content h1 {
    font-size: 48px;
    font-weight: 700;
}
.content h1 span {
    color: var(--mainColor);
    font-family: var(--mainFont);
}
.content p{
    width: 485px;
    color: #969696;
}

.beginning a{
    font-family: var(--subFont); 
    border-radius: 6.12px;
    padding: 5.3541765213012695px 30.18113136291504px;
}

.beginning .register{
background-color: var(--mainColor);
color: #fff;
width: 50%;
}
.beginning .play-video{
    color: black;
    font-weight: 700;
    margin-bottom: 10px;

}
.beginning .buttons img{
    padding-right:5px;
}
.beginning .buttons .play-video img{
width: 30px;
height: 30px;
margin-bottom: -8px;
}
@media screen and (max-width:580px) {
    .beginning-img img {
        width: 300px;
    }
}
@media screen and (max-width: 461px) {
    .content p{
        display: none;
    }
    .beginning .register,
    .beginning .play-video{
        width: 100%;
    }
}


.WHAT_WE_GIVE {
    background-color: white;
    padding: 40px;
    
}
.WHAT_WE_GIVE .container{
    position: relative; 
}

.info-section,
.cards {
    width: calc((100% - 20px)/ 2);
}

.info-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-top: 70px;


}

.info-section h3 {
    color: var(--mainColor);
    font-family: var(--subFont);
}

.info-section h1 {
    font-family: var(--mainFont);
    width: 200px;

}

.info-section p {
    color: #969696;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 70px;

}

.card {
    background-color: var(--mainColor);
    color: white;
    border-radius: 4.12px;
    padding: 10px;
    position: relative;
}

.card img {
    background-color: white;
    border-radius: 50%;
    width: 40px;
}

.card h4 {
    padding: 5px;
    margin: 10px 0;
}

.card P {
    font-size: 16PX;

}
.arrow {
    position: absolute;
    bottom:-36px;
    right: 105px;
    display: flex;
  
}

.arrow img {
    width: 30px;
    margin: 0 5px;
}
@media screen and (max-width: 1184px) {

    .info-section,
    .card-section {
        width: 100%;

    }
}

@media screen and (max-width: 461px) {
    .cards {
        overflow-x: hidden;
        width: calc(100% + 40px); 
    }

    .card {
        width: 80%; 
    }
}


.course-container {
    background-color: var(--mainColor);
    display: flex;
    padding: 10px;
}

.course-container .row {
    gap: 40px;

}

.img-section,
.text-section {
    width: calc((100% - 40px)/ 2);

}

.img-section img {
    width: 500px;
    padding: 5px;

}

.text-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.text-section h3,
.text-section h4 {
    color: #F0C932;
    font-family: var(--subFont);
}

.text-section h1,
.text-section p {
    color: #fcfcfc;
    font-family: var(--mainFont);

}

.stats {
    display: flex;
    gap: 40px;

}

.stats div {
    text-align: center;
}

@media screen and (max-width:1184px) {

    .img-section,
    .text-section {
        width: 100%;

    }
}

@media screen and (max-width:580px) {
    .img-section img {
        width: 300px;
    }
}


.courses {
    position: relative;
    background-color: #fff;
    padding: 10px;
}

.courses .row {
    gap: 40px;
}

.courses-items,
.courses-description {
    width: calc((100% - 40px)/ 2);
}

.courses-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.course {
    width: calc((100% - 20px) / 2);
    color: #fff;
    background-color: #fff;
    box-shadow: 0px 7.437575340270996px 7.437575340270996px rgba(0, 0, 0, 0.05);


}

.course-card {
    position: relative;
    box-shadow: 0px 7.437575340270996px 7.437575340270996px #fff;
}

.course-info span:first-of-type {
    background-color: var(--mainColor);
    padding: 10px;
    margin-top: 10px;

}

.course-info span:last-of-type {
    align-self: self-end;

}

.course img {
    width: 100%;
    filter: brightness(50%);
    display: flex;
}

.course-info {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.course-details {
    color: black;
    padding: 10px;


}

.course-details :first-child span {
    color: var(--mainColor);
}

.course-details .row:nth-child(2) {
    justify-content: flex-start;
    color: #969696;
}

.courses .row:first-of-type {
    align-items: flex-start;

}

.courses-description p:first-child {
    color: var(--mainColor);
}

.courses-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.courses-description a {
    background-color: var(--mainColor);
    color: #fff;
    font-family: var(--subFont);
    border: 2px solid var(--mainColor);
    border-radius: 6.12px;
    padding: 5.3541765213012695px 20.18113136291504px;
    width: 55px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .course {
        width: 100%;
    }

}

@media screen and (max-width:600px) {
    .course-details {
        display: none;
    }

    .course-info span:first-of-type {
        font-size: 12px;
    }
}

@media screen and (max-width:470px) {
    .course-info span:first-of-type {
        display: none;
    }
}

.testimonials {
    padding: 50px 0;
    background-color: #fff;
}

.testimonials .row {
    gap: 40px;
}

.testimonial {
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    width: calc((100% - 40px) /2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

}

.testimonials h2 {
    text-align: center;
}

.user-info {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-data {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-wrap: wrap;
}

.rating {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.testimonial::after {
    content: '';
    position: absolute;
    border-top: 30px solid #F4F4F4;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #F4F4F4;
    border-left: 30px solid transparent;
    right: 0;
    top: 0;

}

@media screen and (max-width: 768px) {
    .testimonial {
        width: 100%;
    }
}

.footer {
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}

.footer .row {
    gap: 20px;
}

.footer a {
    color: #fff;
}

.footer-left-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    width: calc((100% - 20px) /2);
}

.footer-left-side .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.footer-left-side .logo img {
    width: 35px;
}

.footer-left-side .icons img {
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    padding: 10px;
}

.footer-right-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc((100% - 20px) /2);

}

.footer-right-side nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-right-side .footer-item {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media screen and (max-width:768px) {

    .footer .row {
        flex-direction: column;

    }

    .footer-left-side,
    .footer-right-side {
        width: 100%;
    }

    .footer-right-side .footer-item {
        width: calc((100% - 20px) / 4);
    }
}

@media screen and (max-width:576px) {
    .footer-right-side {
        gap: 10px;
    }

    .footer-right-side .footer-item {
        width: calc((100% - 20px) / 3);
    }
}

@media screen and (max-width:470px) {
    .footer-right-side .footer-item {
        width: 100%;
        text-align: center;
    }
}